* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    height: 100vh;
    background-color: rgba(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


#name {
    background-color: black;
    color: #00FF00;
    border: 5px dotted #00FF00;
    border-radius: 5px;
    font-size: 10px;
    display: absolute;
    width: 50%;
    padding: 10px;
    margin: 50x 50px;
  
}
pre {
    white-space: pre-wrap;
    word-break: break-all;
  }
  header img {
    max-width: 50vw;
    border-radius: 50%;
    filter: drop-shadow(8px 8px 10px #00FF00);
  }
  #describe {
      color: #00FF00;
      font-size: 50px;
  }