* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

/*==================================
            Header Section 
   ===================================*/

canvas {
  z-index: 9000;
  position: absolute;
  opacity: 0.2;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #00ff00;
}

.name {
  background-color: #00ff00be;
  font-weight: bold;
  border-radius: 5px;
  height: 30vh;
  font-size: 8px;
  display: absolute;
  min-width: 444px;
  width: 50%;
  padding: 5px;
  margin: 50px 50px;
}
pre {
  white-space: pre-wrap;
  word-break: break-all;
}
header img {
  max-height: 30vh;
  max-width: 50vw;
  margin-top: 50px;
  border-radius: 100%;
  filter: drop-shadow(8px 8px 10px #00ff00);
}
#describe {
  color: #00ff00;
  font-size: 50px;
}

/*==================================
            Nav Section 
   ===================================*/

.nav {
  background-color: #070707;
  display: flex;
  z-index: 10000;
  border-bottom: 2px solid #00ff00;
  justify-content: space-around;
}

.nav-link {
  color: #00ff00;
  cursor: pointer;
}
.nav-link:hover {
  background-color: #00ff00;
  color: #070707;
}

/*==================================
            about-me Section 
   ===================================*/
#about-me,
#skills,
#experience,
#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #00ff00;
}

/* #projects {
       height: 100vh;
   } */

#about-me,
#skills {
  height: 50vh;
  background-color: #000;
  color: #00ff00;
}

#experience {
  height: 75vh;
  background-color: #000;
  color: #00ff00;
}

#about-me,
#skills,
#experience p {
  padding: 5%;
  /* font-size: large; */
  justify-content: center;
}

/*==================================
            Skills Section 
   ===================================*/

#skills,
#projects {
  background-color: #000;
}

/*==================================
            Section Headers
   ===================================*/

.section-header {
  background-color: #000;
  color: #20da20;
  font-weight: bold;
  border-radius: 5px;
  font-size: 10px;
  display: absolute;
  min-width: 305px;
  width: 50%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-header pre {
  color: #20da20;
}
#skills .section-header {
  background-color: #000;
}
#projects .section-header {
  background-color: #000;
}

#projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  background-color: #000;
  z-index: 9001;
  color: #20da20;
  width: 300px;
  height: 500px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 30px;
  box-shadow: 5px 5px 3px;
  border-radius: 10px;
}
.project:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

#projects-container img {
  width: 100%;
  height: 50%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/*==================================
           Footer Section
   ===================================*/

#footer {
  height: 100px;
  /* z-index: 9500; */
  background-color: rgb(37, 36, 36);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
i {
  color: #00ff00;
}
.social {
  z-index: 9001;
}
.social:hover {
  transition: all 0.2s ease-in-out;
  transform: translate(0, -25px) scale(1.5);
}

@media screen and (max-width: 400px) {
  .nav {
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
  #describe {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .section-header {
    font-size: 5px;
  }
  #describe {
    font-size: 20px;
  }
  #about-me,
  #skills,
  #experience {
    height: 100vh;
  }
}

@media screen and (max-width: 812px) {
  .section-header {
    font-size: 7px;
  }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
